<div class="row py-5 px-4">
     <div class="col-md-5 mx-auto">
     <!-- Profile widget --> 
     <div class="bg-white shadow rounded overflow-hidden"> 
        <div class="px-4 pt-0 pb-4 cover"> 
            <div class="media align-items-end profile-head"> 
            <div class="profile mr-3">
             <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="..." width="130" class="rounded mb-2 img-thumbnail">
             <br>
            
            </div> 
            
            <div class="media-body mb-5 text-white">
                 <h4 class="mt-0 mb-0">Nom Prenom</h4>
                  <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i></p> 
                </div> </div> </div>
                 <div class="bg-light p-4 d-flex justify-content-end text-center">
                      </div> 
<br>
<button type="button" class="btn btn-outline-success"style="margin-left: 10px;padding-left:10px;padding-right:10px"routerLink="/modifer">Modifier Profile</button>
<button type="button" class="btn btn-outline-danger" style="margin-left: 10px;padding-left:10px;padding-right:10px">Ajouter informations</button>
         
                                             <div class="px-4 py-3"> <h5 class="mb-0">Profile</h5>
                                                 <div class="p-4 rounded shadow-sm bg-light"> 
                                                    <p class="font-italic mb-0">Nom :</p> 
                                                    <p class="font-italic mb-0">Prenom</p>
                                                     <p class="font-italic mb-0">Telephonne :</p> </div> </div> 
                                                     <div class="py-4 px-4"> 
                                                        <div class="d-flex align-items-center justify-content-between mb-3"> 
                                                            <h5 class="mb-0">
                                                                
                                                            </h5><a href="#" class="btn btn-link text-muted"></a> </div> 
                                                            <div class="row">
                                                                <div class="col-md-6 ml-auto mr-auto">
                                                                    <div class="profile-tabs">
                                                                      <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                                                        <li class="nav-item" routerLink="/historique">
                                                                            <a class="nav-link active" href="#historique" role="tab" data-toggle="tab"style="margin-right: 5px;">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16" >
                                                                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                                                                    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                                                                  </svg>
                                                                             <br>Historique
                                                                            </a>
                                                                        </li>
                                                                        
                                                                        <li class="nav-item">
                                                                            <a class="nav-link" href="#logOut" role="tab" data-toggle="tab" routerLink="/acceuil">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                                                                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                                                                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                                                                  </svg>                                    
                                                                                  <br>Deconnecter
                                                                            </a>
                                                                        </li>
                                                                       
                                                                      </ul>
                                                                      <br>
                                                                    </div>
                                                            </div>
                                                        </div></div>

</div>
