

<style>
    
    th{
        font-family: American Typewriter, serif;
       font-size: 33px;
       color: rgb(250, 162, 29);
    }
    b{
        font-family: Apple Chancery, cursive;
        font-size: 20px;
    }


.modal-body{
    margin: auto; width: 250px;
}
</style>


<div class="container">
 
    

<!-- ticket -->
<form>
                 
                 
    <div class="modal-body">
      <form class="row g-3">
        <div class="col-md-10">
          <label for="textMobile" class="form-label" ><b> </b> </label>
          
        <br><br>
        <label for="textMobile" class="form-label" ><b>Ticket Numero : </b> </label><br><br>
        <label for="textMobile" class="form-label" ><h1 style="margin-right: 50px;margin-left: 50px;">A120 </h1> </label>
        <br><br>
        <label for="textMobile" class="form-label" >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
          </svg><b>10 </b><br>
          
            <label for="textMobile" class="form-label" >Les personnes en attente </label><br>
        </label>
          <label for=""> <b>   </b></label>
          <label for="textMobile" class="form-label">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
          </svg><b>15 min</b>
        <br>
          <label for="textMobile" class="form-label" >Les personnes en attente </label><br>
        </label>
      
        </div>         
        <div class="col-6" class="text-center">
          <br>
          <button type="button"(click)="addticket()" class="btn btn-warning btn-rounded" style="margin-right: 40px;">Valider</button>
          <button type="button" class="btn btn-danger btn-rounded">Annuler</button>
        </div>
      </form>
    </div>


</form>
</div>


      





